@use "sass:map";

$theme-colors: (
  "primary": #4Db33D
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: "LexendDeca-Light";
    src: url("/fonts/LexendDeca-Light.ttf");
}

body {
    font-family: "LexendDeca-Light" !important;
}

.title {
  font-size: 25px;
  display: inline;
  margin-right: 20px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #00684A;
}

.Row-selected {
  background-color: #ABEBAB;
}

.loading-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2em;
  background: rgb(232, 255, 225);
}


.spinner {
  width: 2em;
  height: 2em;
  border: 8px solid;
  border-color: #3dbef1 transparent #3dbef1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.loading-text {
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}